<nav class="navbarOuter">
    <div class="navbar">
        <div class="branding">
            <img style="height: 55px;" src="/siteImages/tcflogo.png" alt="TCFNSW Logo" />
            <div class="sitename">
                <h1>TCFNSW</h1>
                <span>Teachers' Christian Fellowship of NSW</span>
            </div>
        </div>
        <div class="navMenuHamburger">
            <button class="mobileNavToggle" aria-label="Hide or show the mobile navigation menu"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg></button>
        </div>
        <div class="navMenu">
            <ul>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                {{ if ne .Name "" }}
                <li class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
                    <a href="{{ .URL }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
